.filter_container {
  transition: all 500ms ease;
}

@media screen and (max-width: 768px) {
  .filter_container {
    position: absolute;
    top: 0;
    left: 0;
    height: 200% !important;
    background-color: #1a202c !important;
    border: none !important;
    border-radius: 0 !important;
    margin: 0 !important;
    padding: 12px !important;
    transition: all 500ms ease;
    overflow: auto !important;
  }

  .hide_filters {
    transform: translateY(-1200px);
    height: auto !important;
  }

  .show_filters {
    transform: none;
  }
  .expand {
    display: none !important
    ;
  }
}

@media (min-width: 768px) {
  .filter_show_button {
    display: none !important;
  }
}
